name: Update AIF Version

on:
  push:
    tags:
      - '*'

jobs:
  new_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate Changelog
        id: changelog
        run: |
          previous_tag=$(git describe --tags --abbrev=0 HEAD^ 2>/dev/null || echo "")
          if [ -n "$previous_tag" ]; then
            changelog=$(git log "$previous_tag"..HEAD --pretty=format:"- %s")
          else
            changelog=$(git log --pretty=format:"- %s")
          fi
          echo "changelog=$changelog" >> $GITHUB_ENV

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          release_name: Release ${{ github.ref_name }}
          body: ${{ env.changelog }}
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
